<!--/* <div class="cq-placeholder cq-marker-start" data-emptytext="Title" data-sly-test="${wcmmode.edit}"></div>
<section id="services" class="services" data-sly-use.model="com.mysite.core.models.TilesModel">
    <div class="container">
        <div class="row" data-sly-list.tilelist="${model.tileList}">

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box aos-init aos-animate" data-aos="fade-up">
                    <div class="icon"  data-sly-test="${tilelist.iconclass}"><i class="${tilelist.iconclass}"></i></div>
                    <h4 class="title" data-sly-test="${tilelist.title}"><a href="">${tilelist.title}</a></h4>
                    <p class="description"data-sly-test="${tilelist.description}">${tilelist.description}</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <sly data-sly-list.tiles="${model.list}" >
        title  ${tiles.title} <br>
        iconclass  ${tiles.iconclass} <br>
        description  ${tiles.description} <br>


    </sly>

</section> */-->

Node :
${resource.listChildren}


